---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About</title>
	</head>
	<body>
		<h1>About Taylor Swift</h1>
		<p>Her favorite food is Pizza from Newyork pizza hut.
		She has one long lasting relationship with her best
		friend,Selena Gomez.She loves cats so much.When she is
		 not in the studio she is hiking and exploring outdoors.</p>
         <p>She has a huge social media following.During her 
            concerts,which are usually sold out,most fans make
             proposal and engagement videos</p>
	</body>
</html>
