---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About</title>
	</head>
	<body>
		<h1 style="color:brown;text-align: center;">About Taylor Swift</h1>
		<section style="display:flex;justify-content: space-evenly;">
			<div>
		<p>Taylor Swift is an American singer born in 1989.
			Her favorite food is Pizza from Newyork pizza hut.<br>
		She has one long lasting relationship with her best
		friend,Selena Gomez.<br>She loves cats so much.When she is
		 not in the studio she is hiking and exploring outdoors.</p>
         <p>She has a huge social media following.During her 
            concerts,which are usually sold out,most fans<br> make
             proposal and engagement videos.She has fans from 
			 all over the world.</p>
			</div>
			 <img src="src/pages/images/taylor.jpg" alt="a picture of sparkles" width="200" height="auto"/>
		</section>
	</body>
</html>
