---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Home</title>
	</head>
	<body>
		<h1>My favorite artist</h1>
		<h2>Taylor Swift</h2>

		<p>Taylor Swift in an American artist born in 1989.<br>
			She grewn up in Wyoming and has a younger brother. 
			She has more than a decade flourishing career in music.
			She is known and loved for her amazing song writing skills and
			production of hit songs.My favorite hit of hers is August.</p>
	</body>
</html>
