---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Home</title>
	</head>
	<body>
		
		<h1 style="color:red;text-align: center;text-decoration: dotted;">My favorite artist</h1>
		<h2 style="color:blue;text-align: center;text-decoration: wavy;">Taylor Swift</h2>
		<main style="display:flex;justify-content: space-evenly;">
		<p>Taylor Swift in an American artist born in 1989.<br>
			She grew up in Wyoming and has a younger brother.<br> 
			She has more than a decade flourishing career in music.<br>
			She is known and loved for her amazing song writing 
			skills<br> and production of hit songs.My favorite
			 hit of hers is August.</p>
			 <p>I like her because she is a tall confident girl <br>
				like me.She also has one sibling like me.<br>
				Her songs make a huge part of my playlist.<br>
				They have helped me get through tough times <br>
				in life and heartbreaks</p>
			<img src="src/pages/images/swift.jpg" alt="a woman."width="200" height="auto"/>
		</main>
	</body>
</html>
