---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>News/Tours</title>
	</head>
	<body>
		
		<h1 style="color:rgb(13, 138, 138);text-align: center;">News and Coming Tours</h1>
		<h2 style="color:pink;text-align: center;">Taylor Swift in Nairobi</h2>
		<section style="display:flex;justify-content:space-evenly;">
		<p>On 16th January 2024,Taylor Swift
		 surprised her African fans in Nairobi,<br>
		 Kenya 
		 with an extra ordinary performance of<br>
		  a lifetime.
		 She performed all her hit songs like <br>
		 blank space,August
		 sweet love,sour friends and more.The <br>
		 stadium was full 
		 with 10,000 stoked fans. The tickets<br>
		  were sold out 
		 months to the event and Kenyan fans<br>
		  are now on the 
		 lookout for the next sale</p>
		 <img src="src/pages/images/swift.jpg" alt="taylor swift picture."width="150" height="auto"/>
		</section>

		<h2 style="color:purple;text-align:center;">My favorite performance</h2>
		<section style="display:flex;justify-content: space-evenly;">
			<p>Taylor Swift effect," a term that refers to the singer's 
			unprecedented ability<br>
			 to influence consumer behavior. 
			Following the inaugural<br>
			 U.S. leg of Eras, the U.S. Travel 
			Association estimated <br>that the tour's total economic
			 impact likely exceeded<br>
			  $10 billion.
          In the new year, Swift's staggering <br>
		  popularity seems to 
		  somehow still be on the rise. Less<br>
		   than a week after
		   watching her boyfriend, Travis Kelce,<br>
		    win the Super Bowl,
		    Swift played to the biggest concert <br>
			crowd of her career
			 while performing at the Melbourne Cricket<br>
			  Group in
			  Australia during the first run of 2024<br> Eras dates,
			   following four shows in Tokyo.</p>
		
		
			<img src="src/pages/images/taylor.jpg" alt="taylor swift."width="200" height="auto"/>
	<img src="src/pages/images/ruth.jpg" alt="photo of a girl."width="200" height="auto"/>

		</section>
		
</body>
</html>
