---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Playlist</title>
	</head>
	<body>
		<h1>My playlist</h1>

		.[] myarray=new
The Alchemy
The Alcott
All of the Girls You Loved Before
Babe 
Back to December
Bad Blood 
Beautiful Eyes 
Beautiful Ghosts
Begin Again 
Bejeweled 
Red 
Renegade 
Right Where You Left Me
Robin 
Ronan 
Gold Rush 
Gorgeous 
The Great War
Guilty as Sin?
Half of My Heart
Happiness 
Haunted 
Hey Stephen
High Infidelity
Highway Don't Care
Hits Different
Hoax (song)
Holy Ground
How Did It End?
How You Get the Girl
	</body>
</html>
