---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Playlist</title>
	</head>
	<body>
		<h1 style="color:blue;text-align: center;">My playlist</h1>
<ul id="playlist">
<li>The Alchemy</li>
<li>The Alcott</li>
<li>All of the Girls You Loved Before</li>
<li>Babe </li>
<li>Back to December</li>
<li>Bad Blood </li>
<li>Beautiful Eyes </li>
<li>Beautiful Ghosts</li>
<li>Begin Again </li>
<li>Bejeweled </li>
<li>Red </li>
<li>Renegade </li>
<li>Right Where You Left Me</li>
<li>Robin</li> 
<li>Ronan </li>
<li>Gold Rush </li>
<li>Gorgeous</li> 
<li>The Great War</li>
<li>Guilty as Sin?</li>
<li>Half of My Heart</li>
<li>Happiness</li> 
<li>Haunted </li>
<li>Hey Stephe</li>
<li>Highway Don't Care</li>
<li>Hits Different</li>
<li>Hoax (song)</li>
<li>Holy Ground</li>
<li>How Did It End?</li>
<li>How You Get the Girl</li>
</ul>

<form onsubmit="showalert(event)">
<button type="submit">Submit</button>
<input type="text">
</form>
<button id="shuffleBtn">Shuffle Playlist</button>
	</body>
	
	<script src="/src/pages/main.js"></script>
</html>
